<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="<%= root %>favicon.ico">
        <link rel="stylesheet" href="<%= root %>css/error.css">
    </head>
    <body class="status">
        <div class="error">
            <h1><%= title %></h1>
            <hr>
            <p><i><%= desc %></i></p>
        </div>
    </body>
</html>
